<ion-view view-title="Caldas e defensivos naturais">

	<!--header buttons -->
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon" ></button>
	</ion-nav-buttons>
	<ion-nav-buttons side="primary">
		<button class="button icon-left ion-chevron-left button-clear" ng-click="voltar()">
			Voltar
		</button>
	</ion-nav-buttons>

	<!--conteúdo da página -->
	<ion-content>
		<ion-list >
				<ion-item class=" item-text-wrap" ng-click="abrirCaldaBordalesa()">
						Calda Bordalesa
				</ion-item>
				<ion-item class=" item-text-wrap" ng-click="abrirCaldaSulfocalcica()">
						Calda Sulfocálcica
				</ion-item>
				<ion-item class=" item-text-wrap" ng-click="abrirCaldaVicosa()">
						Calda Viçosa
				</ion-item>
				<ion-item class=" item-text-wrap" ng-click="abrirLeiteDeVacaControleDeOidio()">
						Leite de vaca para o controle de oídio
				</ion-item>
				<ion-item class=" item-text-wrap" ng-click="abrirPlantasRepelentesInsetos()">
						Plantas repelentes a insetos
				</ion-item>
			</ion-list>
	</ion-content>



						<!-- <div class="card">
						<ion-item class="item-divider item-text-wrap">
						<h3>Dica agroecológica!</h3>
					</ion-item>
					<ion-item class="item-divider item-text-wrap">
					<h3>Como é possivel saber se a calda esta pronta para o uso?</h3>
				</ion-item>
				<ion-item class="item item-text-wrap">
				<ion-item class="item item-text-wrap">
				<h3>Mergulhe um ferro (faca, por exemplo) na calda bordalesa por 3 minutos;</h3>
			</ion-item>
			<ion-item class="item item-text-wrap">
			<h3>Se o ferro escurecer ou ficar vermelho significa que a calda esta àcida;</h3>
		</ion-item>
		<ion-item class="item item-text-wrap">
		<h3>Então, acrescente um punhado de cal;</h3>
	</ion-item>
	<ion-item class="item item-text-wrap">
	<h3>Repita o teste com o ferro até não ficar mais escuro.</h3>
	</ion-item>
	</ion-item>
	</div>

	<div class="card">
	<ion-item class="item-divider item-text-wrap">
	<h3>Dica agroecológica!</h3>
	</ion-item>
	<ion-item class="item item-text-wrap">
	<h3>Após côa-se a calda;</h3>
	</ion-item>
	<ion-item class="item item-text-wrap">
	<h3>Coloca-se em um pulverizador;</h3>
	</ion-item>
	<ion-item class="item item-text-wrap">
	<h3>Aplica-se em pomares ou hortaliças;</h3>
	</ion-item>
	</div>

	<div class="card">
	<ion-item class="item-divider item-text-wrap">
	<h3>Dica agroecológica!</h3>
	</ion-item>
	<ion-item class="item item-text-wrap">
	<h3>Ver as indicações de uso da calda bordalesa nas fichas de APLICAÇÃO DE CALDA BORDALESA EM HORTALIÇAS E FRUTIFERAS.</h3>
	</ion-item>
	</div> -->

</ion-view>
