<ion-view view-title="Conceitos e definições">

	<!--header buttons -->
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon" ></button>
	</ion-nav-buttons>
	<ion-nav-buttons side="primary">
		<button class="button icon-left ion-chevron-left button-clear" ng-click="voltar()">
			Voltar
		</button>
	</ion-nav-buttons>

	<!--conteúdo da página -->
	<ion-content >
		<ion-list>

			<div class="card">
				<ion-item class="item-divider item-text-wrap titulo">
					<div class="bar bar-header bar-titulo">
						<h1 class="title">Agroecologia</h1>
					</div>

					<!-- <h2 class="bar-titulo">Agroecologia</h2> -->
				</ion-item>
				<ion-item class="item-text-wrap">
					<p>A agroecologia refere-se ao estudo da agricultura com uma perspectiva agronômica, ecológica, econômica e social.
						<br>
						"Tem como unidades básicas de análise os ecossistemas agrícolas, abordando os processos agrícolas de maneira ampla, não só visando maximizar a produção mas também otimizar o agroecossistema total - incluindo seus componentes socioculturais, econômicos, técnicos e ecológicos".
					</p>
					<br>
					<h4>Altieri, Miguel; Nicholls, Clara I. Agroecología - Teoría y práctica para una agricultura sustentable. 1ª ed. México: PNUMA, 2000.</h4>
				</ion-item>
			</div>

			<div class="card">
				<ion-item class="item-divider item-text-wrap titulo">
					<!-- <h2>Praga agrícola</h2> -->
					<div class="bar bar-header bar-titulo">
						<h1 class="title">Praga agrícola</h1>
					</div>
				</ion-item>
				<ion-item class="item-text-wrap">
					<p>Qualquer forma de vida vegetal ou animal, ou qualquer agente patogênico daninho para os vegetais ou produtos vegetais.
						<br>
						Classificados em:
					</p>
				</ion-item>
				<ion-item class="item-divider item-text-wrap">
					<h3>Insetos: </h3>
				</ion-item>
				<ion-item class="item-text-wrap">
					<p>lagartas, besouros, percevejos, pulgões, mosca-branca, trips, mosca-das-frutas, etc...</p>
					<div class="insetos-conceitos">
						<img src="img/inseto2.png"  width="110px" height="auto">
						<img src="img/inseto3.png"  width="110px" height="auto">
						<img src="img/inseto1.png"  width="110px" height="auto">
					</div>
				</ion-item>
				<ion-item class="item-divider item-text-wrap">
					<h3>Patógenos: </h3>
				</ion-item>
				<ion-item class="item-text-wrap">
					<p>fungos, bactérias, vírus, nematoides, etc...</p>
					<div class="insetos-conceitos">
						<img src="img/patogeno2.png"  width="110px" height="auto">
						<img src="img/patogeno3.png"  width="110px" height="auto">
						<img src="img/patogeno1.png"  width="110px" height="auto">
						<img src="img/patogeno4.png"  width="110px" height="auto">
					</div>
				</ion-item>

				<ion-item class="item-divider item-text-wrap">
					<h3>Plantas daninhas: </h3>
				</ion-item>
				<ion-item class="item-text-wrap">
					<p>plantas anuais e perenes que competem por luz, nutriente e água. Podem ser hospedeiras de insetos e patógenos prejudiciais as espécies de interesse.</p>
					<div class="insetos-conceitos">
						<img src="img/daninha2.png"  width="110px" height="auto">
						<img src="img/daninha3.png"  width="110px" height="auto">
						<img src="img/daninha1.png"  width="110px" height="auto">
					</div>
				</ion-item>
			</div>

			<div class="card">
				<ion-item class="item-divider item-text-wrap titulo">
					<!-- <h2>Manejo agroecológico de pragas</h2> -->
					<div class="bar bar-header bar-titulo">
						<h1 class="title">Manejo agroecológico de pragas</h1>
					</div>
				</ion-item>
				<ion-item class="item-text-wrap">
					<p>Adoção de estratégias de manejo do sistema produtivo visando a sua maior estabilidade ecológica.
						<br>
						Baseia-se na visão holística do processo produtivo, com base em um bom planejamento e conhecimento do agroecossistema.
						O objetivo principal do Manejo Agroecológico é garantir o equilíbrio do agroecossistema, evitando com isso danos e perdas.
						<br>
						Entender que as pragas também fazem parte do ecossistema e tem sua função ambiental. Deve-se portanto buscar a harmonia destas com as culturas de interesse.</p>
					</ion-item>
				</div>

				<div class="card">
					<ion-item class="item-divider item-text-wrap titulo">
						<!-- <h2>Produtos alternativos</h2> -->
						<div class="bar bar-header bar-titulo">
							<h1 class="title">Produtos alternativos</h1>
						</div>
					</ion-item>
					<ion-item class="item-divider item-text-wrap">
						<h3>O que são produtos alternativos?</h3>
					</ion-item>
					<ion-item class="item-text-wrap">
						<p>São produtos preparados  a partir de substâncias não prejudiciais à saúde humana e ao meio ambiente, destinados a auxiliar no controle de pragas e doenças da agricultura.</p>
					</ion-item>
					<ion-item class="item-divider item-text-wrap">
						<h3>Quais as vantagens?</h3>
					</ion-item>
					<ion-item class="item-text-wrap">
						<p> A vantagem do uso destes produtos é tanto propiciar a redução do uso de  agrotóxicos nos  cultivos  convencionais, quanto  a possibilidade de utilização  em  sistemas orgânicos de produção, favorecendo a obtenção de produtos com menos ou nenhum resíduo químico, portanto, mais saudáveis para o consumidor final.</p>
					</ion-item>
					<ion-item class="item-divider item-text-wrap">
						<h3>Características</h3>
					</ion-item>
					<ion-item class="item-text-wrap">
						<p>Pertencem  a  esse  grupo  as formulações  que  têm  como  características  principais  a baixa ou nenhuma toxicidade  ao homem  e  à natureza,  a  eficiência no combate  a pragas  e doenças, o não  favorecimento  à  ocorrência  de  formas  de  resistência  desses  organismos,  boa disponibilidade  e  custo reduzido.
							<br>
							- Estão  incluídos nesta  categoria  os diversos  biofertilizantes líquidos, as caldas Sulfocálcica, Viçosa e Bordalesa, os extratos de plantas, entre outros.</p>
						</ion-item>
					</div>

				</ion-list>
			</ion-content>

		</ion-view>
