<ion-view view-title="Mais sobre">
  <!--header buttons -->
  <ion-nav-buttons side="primary">
    <button class="button icon-left ion-chevron-left button-clear" ng-click="voltar()">Voltar</button>
  </ion-nav-buttons>
  <!--conteúdo da página-->
  <ion-content class="padding">
    <ion-list class="list-inset">
      <ion-item class="item item-text-wrap" ng-repeat="planta in plantaDetalhada">
        <div class="bar bar-header bar-titulo">
          <h1 class="title">{{planta.nome}}</h1>
        </div>
        <br><br>
        <div class="tile-image">
          <div class="image">
            <ion-slide-box on-slide-changed="slideChanged(index)" show-pager="true">
                <ion-slide ng-repeat="image in imageSrc">
                  <img data-ng-src="{{image}}" alt="planta" class="imagem-praga-main" ng-click="modalImage()" />
                  <!-- <p class="info">{{image.info}}</p> -->
                </ion-slide>
              </ion-slide-box>
            <!-- <img data-ng-src="{{praga.imagem[0]}}" alt="praga" class="imagem-praga-main" ng-click="modalImage(praga)"> -->
          </div>
          <!-- <div class="tile-footer">
            <h2>{{planta.cientifico}}</h2>
          </div> -->
        </div>
        <!-- <h2>{{planta.nome}}</h2> -->
        <!-- <h3>{{planta.resumo}}</h3> -->
        <p ng-bind-html="planta.descricao | linebreak | to_trusted"></p>
        <!-- <p>Descrição: {{planta.descricao}}</p> -->
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
