<ion-slide-box on-slide-changed="slideChanged(index)" class="tutorial">
  <ion-slide class="has-header">
    <div class="slide-text">
      <h1>Obrigado por usar o APPraga!</h1>
    </div>
  </ion-slide>

  <ion-slide>
    <div class="slide-text">
      <h3>Navegue pelas abas...</h3>
      <img src="img/home-done.png">
    </div>
  </ion-slide>

  <ion-slide>
    <div class="slide-text">
      <h3>..Pelos botões da Página inicial...</h3>
      <img src="img/botoes.png">
    </div>
  </ion-slide>

  <ion-slide>
    <div class="slide-text">
      <h3>...Ou pelo menu lateral</h3>
      <img src="img/side-menu.png">
    </div>
  </ion-slide>

  <ion-slide class="has-header">
    <button class="button" ui-sref='tab.home'> Ok, entendi</button>
  </ion-slide>

</ion-slide-box>
