<ion-tabs class="tabs-icon-top tabs-balanced">

	<ion-tab title="Início" icon="ion-ios-home" href="#/tab/home" >
		<ion-nav-view name="tab-home"> </ion-nav-view>
	</ion-tab>

	<ion-tab title="Plantas" icon="ion-leaf" href="#/tab/plantas" >
		<ion-nav-view name="tab-plantas"> </ion-nav-view>
	</ion-tab>

	<ion-tab title="Pragas" icon="ion-bug" href="#/tab/pragas">
		<ion-nav-view name="tab-pragas"> </ion-nav-view>
	</ion-tab>

	<ion-tab title="Doenças" icon="ion-heart-broken" href="#/tab/doencas">
		<ion-nav-view name="tab-doencas"> </ion-nav-view>
	</ion-tab>

	<!-- <ion-tab title="Manejos" icon="ion-android-hand" href="#/tab/manejos">
		<ion-nav-view name="tab-manejos"> </ion-nav-view>
	</ion-tab> -->

	<ion-tab title="Mapa" icon-off="ion-map" icon-on="ion-map" href="#/tab/mapa" >
		<ion-nav-view name="tab-mapa"> </ion-nav-view>
	</ion-tab>

</ion-tabs>
