<ion-modal-view>
	<ion-header-bar class="bar-stable">
		<button class="button icon-left ion-chevron-left button-clear" ng-click="closeModal()">
			Voltar
		</button>
		<h1 class="title">Não encontrei minha planta</h1>
	</ion-header-bar>
	<ion-content class="padding">
		<h3 style="text-align: center"> Nos desculpe o incoveniente! Se você não encontrou a sua planta, nos ajude
			enviando uma foto!</h3>
			<div class="list">
				<label class="item item-input">
					<input type="text" placeholder="Seu nome">
				</label>
				<label class="item item-input">
					<input type="text" placeholder="E-mail">
				</label>
				<label class="item item-input">
					<textarea placeholder="Comentário"></textarea>
				</label>
			</div>
			<button class="button button-assertive"></button>
		</ion-content>
	</ion-modal-view>
