<ion-modal-view>
	<ion-header-bar class="bar-stable">
		<button class="button icon-left ion-chevron-left button-clear" ng-click="closeModal()">
			Voltar
		</button>
		<h1 class="title">Reportar um erro</h1>
	</ion-header-bar>
	<ion-content class="padding">
		<h3 style="text-align: center"> Encontrou um erro? Por favor, nos ajude a consertá-lo!</h3>
		<div class="list">
			<label class="item item-input">
				<input type="text" placeholder="Seu nome">
			</label>
			<label class="item item-input">
				<input type="text" placeholder="E-mail">
			</label>
			<label class="item item-input">
				<textarea placeholder="Nos relate o erro"></textarea>
			</label>
		</div>
	</ion-content>
</ion-modal-view>
