<div class="modal image-modal" ng-click="closeModal()" style="background-color:rgba(0, 0, 0, 0.7)";>
    <ion-slide-box on-slide-changed="slideChanged(index)" show-pager="true" active-slide="activeSlide">
        <ion-slide>
            <img src="img/bug.jpg" class="fullscreen-image"/>
        </ion-slide>
        <ion-slide>
            <img src="img/inseto2.png" class="fullscreen-image"/>
        </ion-slide>
        <ion-slide>
            <img src="img/inseto1.png" class="fullscreen-image"/>
        </ion-slide>
    </ion-slide-box>
</div>
